$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$greyText: #b3b3b3;
$greyNav: #090909;
$greenMain: #1db954;

* {
  box-sizing: border-box;
}

.App {
  height: calc(100vh -  90px);
  background: $greyLight;
  display: flex;

}

.subText {
  font-size: 0.9rem;
  color: $greyText;
}

.navBar {
  width: 260px;
  height: 100%;
  background: $greyDark;
  display: flex;
  flex-direction: column;
  .logo {
    padding: 1rem 0.8rem;
    svg {
      g {
        fill: white;
      }
    }
  }
  ul {
    margin: 0;
    padding: 10px;
    li {
      color: $greyText;
      list-style-type: none;
      border-radius: 5px;
      padding: 0.5rem 0.8rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      svg {
        fill: currentColor;
        margin-right: 1rem;
      }
      &.active {
        background: $greyLighter;
        color: white;
        svg {
          fill: white;
        }
      }
      &:hover {
        color: white;
      }
    }
  }
  .cookies {
    font-size: 0.6rem;
    color: $greyText;
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    span {
      display: block;
    }
  }
}

.outerWrap {
  background: grey;
  height: 100vh;
  min-height: 100%;
}

.musicControls {
  background: $greyLighter;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
  position: relative;
  border-top: 1px solid $greyDark;
}

.upperNav {
  background: $greyNav;
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  z-index: 2;
}

.main {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  padding-top: 3.4rem;
  .mainContent {
    color: white;
    padding: 0.7rem 2rem;
    h1,h2 {
      font-size: 1.8rem;
    }
  }
}

.cardsWrap{
  padding-bottom: 1.8rem;
  h2 {
    margin-bottom: 0;
  }
  .subText {
    margin-top: 0.5rem;
  }
  .card{
    background: $greyLighter;
    border-radius: 10px;
    width: 200px;
    overflow: hidden;
    padding: 1.2rem 1.2rem 1rem;
    height: 260px;
    position: relative;
    &:hover {
      .playIcon{
        opacity: 1;
      }
    }
    .cardImage {
      height: 150px;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0,0,0,0.2);
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .cardContent {
      padding: 0.4rem 0;
      h3 {
        font-weight: 600;
        font-size: 0.8rem;
        letter-spacing: 0.6px;
      }
      span {
        font-size: 0.8rem;
        color: $greyText;
      }
    }
  }
}

.playIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  background: $greenMain;
  margin-left: auto;
  opacity: 0;
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
  svg {
    margin:auto;
  }
}